body{
    background-image: url("img/image_3.jpg");
    
    background-size: 100% 100%;
    
}

.header{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    font-size: 2vw;
    position: sticky;
    top: 0;
    height: 140px;
    width: 100%;
    border-color: #be4f23;
    border-style: solid;
}
.Game{
    height:300vh;
    width: 100%;
}
.score_title{
    position: absolute;
}
.row{
    
    position: fixed;
    opacity: 1;
    top: 20%;
    margin-left: 20%;
    

}
#r1{
    margin-top:0px;
}
#r2{
    margin-top:106px;
}
#r3{
    margin-top:212px;
}
#r4{
    margin-top:318px;
}
.tag{
    position: fixed;
    right: 0;
    top: 0;
    height: 100px;
    width: 100px;
    background:red;
    text-align: center;
    

}
.tag:hover{
    box-shadow: inset 0px 0px 0px 1px rgba(9, 211, 143, 0.897);
    padding: 20px;
    
}
#score{
    position: absolute;
    margin: 10px 40px;
    font-size: 30px;
    
}
.card{
    opacity: 1;
    position: relative;
    background: rgba(238, 238, 238, 0.61);
    display:inline-block;
    height: 100px;
    width: 100px;
    cursor: auto;
}



.card:hover {
    
    
    box-shadow: inset 0px 0px 0px 4px rgb(128, 127, 127);
    box-sizing: border-box;
}

  
  /* or maybe you're super hardcore and do it everywhere */
  